@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #56bbe3;
  --primary-dark: #00b2cb;
  --darkComponentsBg: #1e293b;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  background-color: #9eccdf;
}

/* rechart pie focus */
.recharts-layer.recharts-pie,
.recharts-sector:focus {
    outline: none !important;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}

/* layer change */
.recharts-surface{
  width: 100% !important;
}

.DarkModeBg{
  background-color: #1e293b;
}

/* button click effect */

.buttonEffect:active{
  scale: .95;
  transition-duration: 200ms;
  position: relative;
}

